<section class="bg-body-secondary p-4">
  <div class="d-flex justify-content-between pb-4">
    <h2 class="fw-bold text-body-emphasis">Productos</h2>
    <button class="btn btn-outline-light m-0" type="button" data-bs-toggle="modal" data-bs-target="#shoppingCartModal">
      <i class="bi bi-cart-fill"></i>
    </button>
  </div>
  <div class="row g-4">
    @for (product of products; track $index) {
      <article class="col-12 col-md-4">
        <div class="card h-100 d-flex flex-column rounded-0">
          <div class="card-header d-flex justify-content-end">
            <span class="text-body-emphasis">{{ product.price | currency:'ARS' }}</span>
          </div>
          <img class="card-img-top rounded-0 object-fit-cover"
               [src]="product.image"
               alt="Product {{ $index + 1 }} Image Placeholder"
               style="height: 380px">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title fw-bold text-body-emphasis">{{ product.name }}</h5>
            <p class="card-text text-body-secondary">{{ product.description }}</p>
            <button class="btn btn-light mt-auto me-auto"
                    [disabled]="product.added"
                    (click)="addProductToShoppingCart(product)">
              {{ product.added ? 'Agregado al carrito' : 'Agregar al carrito' }}
              @if (product.added) {
                <i class="bi bi-check"></i>
              }
            </button>
          </div>
        </div>
      </article>
    }
  </div>
  <div class="modal fade" id="shoppingCartModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="shoppingCartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold text-body-emphasis" id="shoppingCartModalLabel">Carrito de compras</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          @if (shoppingCart.length > 0) {
            <ol class="list-group list-group">
              @for (product of shoppingCart; track $index) {
                <li class="list-group-item d-flex gap-2 bg-body-tertiary">
                  <img class="object-fit-cover img-thumbnail w-25"
                       [src]="product.image"
                       alt="Product {{ $index + 1}} Image Placeholder">
                  <div class="d-flex flex-column">
                    <p class="text-body-emphasis">{{ product.name }}</p>
                    <span class="mt-auto text-body-secondary">{{ product.price | currency:'ARS' }}</span>
                  </div>
                </li>
              }
              <li class="list-group-item bg-body-secondary d-flex flex-column justify-content-center pb-0">
                <span class="text-body-secondary">Total a pagar</span>
                <p class="text-body-emphasis">{{ totalPayment() | currency:'ARS' }}</p>
              </li>
            </ol>
          } @else {
            <span class="text-body-secondary text-center">El carrito se encuentra vacío.</span>
          }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</section>
